@charset "UTF-8";

body{
    height: 98vh; /* Unidade de viewport */
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right center; /*Posição de onde a imagem vai ficar */
    border: 1px dashed black;
}